*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515 ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2{
  color: #f3f3f3;
  text-align: center;
  font-size: 48px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
.Card {
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #2c2f38;
  border-radius: 10px;
  min-height: 10px;
}                                                                   

button{
  border: none;
  background-color: transparent;
  font-size: 30px;
  width: 100%;
  text-align: right;
  cursor: pointer;
}